<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="layout :: headContent">
	<th:block th:fragment="dynamicHead">
	<!-- Librería JS de la pasarela, debe incluir la clave pública -->
	<script type="text/javascript"
        	src="https://static.micuentaweb.pe/static/js/krypton-client/V4.0/stable/kr-payment-form.min.js"
		kr-language="es-Es"
		th:attr="kr-public-key=${publicKey}, kr-post-url-success=@{/result}">
 	</script>
	<link rel="stylesheet" href="https://static.micuentaweb.pe/static/js/krypton-client/V4.0/ext/classic.css">
	<script type="text/javascript" src="https://static.micuentaweb.pe/static/js/krypton-client/V4.0/ext/classic.js"></script>
	</th:block>
</head>

<body>
    <main th:replace="layout :: mainContent">
    	<th:block th:fragment="dynamicContent">
		<section class="container" >
    			<div class="row">
      			<div class="col-md-3"></div>
      			<div class="center-column col-md-6">
        		<section class="payment-form">
          			<div class="row">
           	 			<li>Pago con tarjeta de crédito/débito</li>
            				<img src="https://github.com/izipay-pe/Imagenes/blob/main/logo_tarjetas_aceptadas/logo-tarjetas-aceptadas-351x42.png?raw=true" alt="Tarjetas aceptadas" style="width: 200px;">
          			</div>
          			<hr>
          			<div id="micuentawebstd_rest_wrapper">
					<!-- HTML para incrustar la pasarela de pagos-->
					<div class="kr-embedded" kr-popin th:attr="kr-form-token=${formToken}"></div>	
          			</div>
        		</section>
      			</div>
     		 	<div class="col-md-3"></div>
    			</div>
  		</section>
        </th:block>
    </main>
</body>
<html>
